service: bookstore

provider:
    name: aws
    runtime: nodejs18.x
    region: us-east-1

functions:
    bookstoreApi:
        handler: ./bookstore-lambda.handler
        events:
            - http:
                  path: /
                  method: any
            - http:
                  path: /{proxy+}
                  method: any

plugins:
    - serverless-offline
